.App {
  text-align: center;
  background-color: #ecf0f1;
}

.header {
  margin: 0;
  padding: 20px;
  color: darkred;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewTitle {
  margin: 0;
  padding: 20px;
  color: #2c3e50;
}

.box {
  background-color: #e74c3c;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  padding: 20px;
  max-width: 250px;
  border-radius: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #34495e;
}

.largeBox {
  background-color: #e74c3c;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Courier New", Courier, monospace;
  margin: 20px;
  padding: 20px;
  width: 100%;
  border-radius: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  float: left;
  width: 33.33%;
}

.imageLeft {
  float: left;
  width: 50%;
  border-radius: 5px;
}

.reviewBodyBox {
  padding: 10px;
}

.button {
  background-color: lightblue;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  border-radius: 20px;
}

.button:hover {
  background-color: #bdc3c7;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navButton {
  background-color: aliceblue;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  width: 30%;
}

.navButton:hover {
  background-color: #bdc3c7;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
